/* website font type */
body{
    font-family: "Roboto", sans-serif;
}

/* Nav Logo */
.logoimg{
    width: 50px;
}

footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.foodbox{   
    height: 250px;
}

/* 5 star rating */
.ratings i{   
    color:#cecece;
    font-size:19px;
}

.rating-color{
    color:#fbc634 !important;
}




