/* website font type */
body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nav Logo */
.logoimg{
    width: 50px;
}

.foodbox{   
    height: 250px;
}

/* 5 star rating */
.ratings i{   
    color:#cecece;
    font-size:19px;
}

.rating-color{
    color:#fbc634 !important;
}




